# Output the first few rows of the CONLL2003 language model

In [23]:
import pandas as pd
from datasets import load_dataset
conll2003 = load_dataset("conll2003")

# Load the CoNLL-2003 dataset
data = conll2003['train']

# Display the first few rows in the language model
df = pd.DataFrame(data)
df.head()

Found cached dataset conll2003 (/Users/bpayne/.cache/huggingface/datasets/conll2003/conll2003/1.0.0/9a4d16a94f8674ba3466315300359b0acd891b68b6c8743ddf60b9c702adce98)

  0%|          | 0/3 [00:00<?, ?it/s]

,id,tokens,pos_tags,chunk_tags,ner_tags
0,0,"[EU, rejects, German, call, to, boycott, Briti...","[22, 42, 16, 21, 35, 37, 16, 21, 7]","[11, 21, 11, 12, 21, 22, 11, 12, 0]","[3, 0, 7, 0, 0, 0, 7, 0, 0]"
1,1,"[Peter, Blackburn]","[22, 22]","[11, 12]","[1, 2]"
2,2,"[BRUSSELS, 1996-08-22]","[22, 11]","[11, 12]","[5, 0]"
3,3,"[The, European, Commission, said, on, Thursday...","[12, 22, 22, 38, 15, 22, 28, 38, 15, 16, 21, 3...","[11, 12, 12, 21, 13, 11, 11, 21, 13, 11, 12, 1...","[0, 3, 4, 0, 0, 0, 0, 0, 0, 7, 0, 0, 0, 0, 0, ..."
4,4,"[Germany, 's, representative, to, the, Europea...","[22, 27, 21, 35, 12, 22, 22, 27, 16, 21, 22, 2...","[11, 11, 12, 13, 11, 12, 12, 11, 12, 12, 12, 1...","[5, 0, 0, 0, 0, 3, 4, 0, 0, 0, 1, 2, 0, 0, 0, ..."

# Output the Named Entities and Labels present in the text

In [26]:
from transformers import pipeline

ner_pipeline = pipeline("ner", model="dbmdz/bert-large-cased-finetuned-conll03-english", tokenizer="dbmdz/bert-large-cased-finetuned-conll03-english")

text = "Billy Bob is a masters student at Athabasca University, located in Athabasca, AB Canada. He is pursuing a Master of Science in Information Systems with a focus on Intelligent Systems"

ner_results = ner_pipeline(text)

for result in ner_results:
    print(f"Entity: {result['word']}, Label: {result['entity']}")

Entity: Billy, Label: I-PER
Entity: Bob, Label: I-PER
Entity: At, Label: I-ORG
Entity: ##hab, Label: I-ORG
Entity: ##as, Label: I-ORG
Entity: ##ca, Label: I-ORG
Entity: University, Label: I-ORG
Entity: At, Label: I-LOC
Entity: ##hab, Label: I-LOC
Entity: ##as, Label: I-LOC
Entity: ##ca, Label: I-LOC
Entity: AB, Label: I-LOC
Entity: Canada, Label: I-LOC
Entity: Intel, Label: I-MISC
Entity: Systems, Label: I-MISC